<!DOCTYPE html>
<html>
<head>
<title>夜猫聊天室</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">    
<link rel = "Shortcut Icon" href=/favicon.ico> 
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
<script src="/javascripts/jquery-1.12.0.min.js"></script>
<link rel='stylesheet' href='/stylesheets/chatroom.css'/>
</head>
<body>
<div id="header">
	<img src="images/logo_g.jpg" alt="Logo">
	<p>NightCAT Chatroom</p>
</div>
<div class="chat_window">
	<div class="online_people">当前在线人数为:<span></span></div>
</div>
<div class="input_text">
<textarea id="message"></textarea>
<button>发送消息</button>
</div>
</form>
<div class="newUser"><img src="images/news.png"/><span></span></div>
</body>
<script src="/javascripts/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:3000');
var username = '<%= username %>';
var number = 0;
var online = {
	number: 0,
	people: {}
}

$(function(){
//  发送新登录用户
socket.emit('update', username);
})

//  发送消息方法
var sendMsg = function(){
	var content = $('#message').val();
  if(content!=''){
  	var obj = {
  		username: username,
  		message : content
  	};
  	//  发送消息到服务端
  	 socket.emit('message', obj );
	 $('#message').val('');
  }
}
//  接受更新消息
socket.on('message', function(obj) {
	var regLt=/\</gi;
    var regEnter = /\n/gi;
    var regSpace = /\s/g;
	obj.message = obj.message.replace(regLt,'&lt;').replace(regEnter,"<br>").replace(regSpace,"&nbsp;&nbsp;");
	if(obj.username == username){
		$('.chat_window').append("<section class='my_chat'><div class='my_name'>"+obj.username+"</div><span class='my_msg'>"+obj.message+"</span></section>");
	}
	else {
		$('.chat_window').append("<section class='all_chat'><div class='all_name'>"+obj.username+"</div><span class='all_msg'>"+obj.message+"</span></section>");
	}
	//  聊天框置底
	$('.chat_window').scrollTop($('.chat_window').scrollTop()+1000);
});

//  获得在线人数与在线名单
socket.on('update',function(obj) {
	if(online.number<obj.number){
		$('.newUser>span').text(obj.people[obj.people.length-1]+'进入聊天室');
		$('.newUser').addClass('newUser_out');
		popup_news();
	}
	else if(online.number>obj.number){
		for(var i=0;i<online.number;i++){
			if(online.people[i]!==obj.people[i]){
				$('.newUser>span').text(online.people[i]+'退出聊天室');
				$('.newUser').addClass('newUser_out');
				popup_news();
				break;
			}
		}
	}

	online.number=obj.number;
	online.people=obj.people;
	$('.online_people>span').text(online.number);
})

//  轮询判断用户是否退出
setInterval(function(){
	socket.emit('exit',username);
},2000);

//  点击发送或回车 > 发送消息
$('button').click(sendMsg);
$(window).keydown(function (event) {
	if(event.keyCode == 13 && event.ctrlKey){
		$('#message').val($('#message').val() + "\n");
	}
    else if (event.keyCode == 13) {
    	event.preventDefault();
    	sendMsg();
    }
});

//  消息栏回缩
var popup_news = function(){
	setTimeout(function(){
		$('.newUser').removeClass('newUser_out');
	},3000);
}

</script>
</html>