<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
    <title>NightCAT Chatroom</title>
    <script src="/javascripts/jquery-1.12.0.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="index_page">
    <h1><img src="images/logo_b.jpg" alt="Logo">NightCAT <span>Chatroom</span></h1>
    <p>欢迎来到夜猫聊天室</p>
    <form method="POST" id="login" onsubmit="return validate_form(this)">
    <fieldset>
     <div>
        <label for="username">用户名</label>
        <input type="text" name="username">
      </div>
      <div>
        <label for="password">密码</label>
        <input type="password" name="password">
      </div>
    <a onclick="ajaxsubmit();">登录</a>
    <a href="/register">注册</a>
    </fieldset>
    </form>
 </div>
</body>
<script>
//  客户端验证没通过时，不提交到服务端认证
var ajaxFlag = true;
//  服务端发来验证失败文本
var alerttext = "<%= alerttext %>";

//  客户端输入验证
if(alerttext){alert(alerttext);alerttext='';}
  function validate_required(field,alerttxt)
{
with (field)
  {
  if (value==null||value=="")
    {alert(alerttxt);ajaxFlag = false;return false}
  else {ajaxFlag = true;return true}
  }
}

function validate_form(thisform)
{
with (thisform)
  {
  if (validate_required(username,"用户名不能为空")==false)
    {username.focus();ajaxFlag = false;return false}
    if (validate_required(password,"密码不能为空")==false)
    {password.focus();ajaxFlag = false;return false}
  }
  ajaxFlag = true;return false;
}

//  服务端用户名验证
function ajaxsubmit(){
  var $form = $('#login');
  $form.submit();
if(ajaxFlag){
  $.ajax({
    type:'POST',
    url: '/login',
    async: false,
    data: $form.serialize(),
    success: function(data){
      if(data=='密码错误'||data=='用户名不存在'){console.log(data);alert(data);return false;}
      
      else {location.href ="Chatroom?UID="+data.UID;}
    },
    error: function(error){
      console.log("ERROR:   "+error);
    }
  })
}
}

//  回车时登录
$(window).keydown(function (event) {
    if (event.keyCode == 13) { ajaxsubmit(); }
});

</script>
</html>
