<!DOCTYPE html>
<html>
<head>
<title>USERLIST</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1>Userlist</h1>
<ul>
<%
for(var i in userlist){
%>
<li><a href="mailto:<%=userlist[i].email%>"><%=userlist[i].username%></a><input type="button" name="<%=userlist[i].username%>" value="删除"></li>
<% } %>
</ul>
<script src="/javascripts/jquery-1.12.0.min.js"></script>
<script>
$(function(){
	$("ul").click(function(event){
		var num = event.target.name;
		console.log(num);
		if(num){
			$.ajax({
				type: 'POST',
				url: '/remove',
				data: {num},
				success: function(data){
					console.log(data);
				},
				error: function(err){
					console.log(err);
				}
			})
		}
	});
});

</script>
</body>
</html>