*{margin:0;padding:0}
html {width:100%;height:100%;}
body {
	width:100%;height:100%;letter-spacing: -0.5em;overflow: hidden;font-family: '微软雅黑';background-color: #333;
	background-image: linear-gradient(90deg,#FFF,#555,#FFF);;
}
@media all and (max-width:768px) {
	.userList{display:none!important;}
	#header,.chat_window,.input_text{width:100%!important;margin:0!important;}
}
@media all and (max-height:650px) {
	#header p{display: none!important;}
}

.userList {
	position: absolute;
	letter-spacing: 0;
	width: 18%;
	max-height:60%;
	display: block;
	left:1%;
	top:2%;
	overflow: hidden;
}
.userList img{
	width:15%;
	height:32px;
	vertical-align: top;
	transition:all 0.5s 0.5s;
}
.userList .openMenuImg{
	transform:rotateY(180deg);
	transition:all 0.5s;
}

.userList .exitChatRoom{
	display: inline-block;
	position: relative;
	z-index: 1;
	height:32px;
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
	width:85%;
	text-align: center;
	line-height: 32px;
	background-color: #333;
	color:#FFF;
	z-index: 1;
	border-radius: 5px 5px 0 0;
	transform:rotateY(180deg);
	opacity: 0;
	transition:all 0.5s 0.5s;
}
.userList .openMenuDiv{
	transform:rotateY(0);
	opacity: 1;
	transition:all 0.5s;;
}
.userList .online_people{
	position: relative;
	width:85%;
	margin-left:15%;
	list-style: none;
	height:auto;
	max-height: 60%;
	opacity: 0;
	transform:translateY(-100%);
	transition:all 0.5s;
}
.userList .openMenuUl {
	opacity: 1;
	transform:translateY(0);
	transition:all 0.5s 0.5s;
}
.userList .online_people li{
	height:35px;
	line-height: 35px;
	width:100%;
	text-align: center;
	color:#FFF;
	background-color: #666;
}
.userList .online_people li:last-child{
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
}
.userList .online_people li a{
	color:#FFF;
	border: none;
}
#header {
	height:10%;
	width:60%;
	margin-left:20%;
	background-color: #333;
	color:#FFF;
	text-align: center;
	overflow: hidden;
}
#header img{
	height:80%;
	width:auto;
	vertical-align: middle;
	position: relative;
	top:10%;
}
#header p{
	font-family: 'Georgia';
	padding-top:5px;
	display: inline-block;
	letter-spacing: 0;
	font-size: 30px;
	position: relative;
	top:15px;
}

.chat_window {
	letter-spacing: 0;
	float: left;
	margin-left:20%;
	width:60%;
	height:65%;
	display: inline-block;
	background-color: #F2F2F2;
	vertical-align: top;
	position: relative;
	overflow-y: auto;
	overflow-x:hidden;
}
.chat_window .online_number{
	left:50%;
	margin-left:-60px;
	width:122px;
	font-size: 14px;
	color:#999;
	position: fixed;
}
.newUser{
	display: block;
	position: absolute;
	right:-60%;
	top:10%;
	background-color: #34495E;
	color:#FFF;
	letter-spacing: 0;
	line-height: 80px;
	text-align: center;
	min-width:15%;
	height:80px;
	transition:right 0.8s;
}
.newUser_out{
	right:0;
	transition:right 0.8s;
}
.newUser::before{
	content: '';
	position: absolute;
	width:10px;
	height:100%;
	background-color: #2980B9;
	left: 0;
}
.newUser img{
	width:30px;
	padding:0 5px 0 10px;
}
.newUser>span{
	text-overflow:ellipsis;
}
section {
	display: block;
	clear: both;
	width:80%;
	position: relative;
	font-size: 16px;
	padding: 5px 0;
}
section:nth-child(2){
	margin-top:10px;
}
section:last-child{
	margin-bottom:10px;
}

section>div{
	max-width:20%;
	border-radius: 10px;
	padding:9px 12px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	cursor: default;
	position: relative;
}
section>div:hover{
	white-space:normal!important;
}

section>span {
	padding:10px 12px 7px 12px;
	min-height:25px;
	border-radius: 10px;
	max-width:80%;
	background-color: #FFF;
	word-wrap:break-word;
}

.all_chat {
	float:left;
	text-align: left;
	padding-left:15px;
}
.all_chat .all_name {
	float:left;
	background: #123456;
	color:#FFF;
}
.all_chat .all_msg{
	float:left;
	margin-left:15px;
	background-color: #FFF;
	color: #34495E;
	position: relative;
}
.all_msg::after{
	content: '';
	position: absolute;
	width: 0;
    height: 0;
    left: -8px;
    top:10px;
    border-top: 5px solid transparent;
    border-right: 10px solid #FFF;
    border-bottom: 5px solid transparent;
}

.my_chat {
	float:right;
	text-align: left;
	padding-right:15px;
}
.my_chat .my_name {
	float:right;
	background-color: #123456;
	color:#FFF;
}

.my_chat .my_msg{
	float:right;
	margin-right:15px;
	background-color: #ADE870;
	color:#34495E;
	position: relative;
}

.my_msg::after{
	content: '';
	position: absolute;
	width: 0;
    height: 0;
    right: -8px;
    top:10px;
    border-top: 5px solid transparent;
    border-left: 10px solid #ADE870;
    border-bottom: 5px solid transparent;
}

.input_text {
	float: left;
	vertical-align: top;
	background-color: #F2F2F2;
	letter-spacing: 0;
	width:60%;
	margin-left:20%;
	display: inline-block;
	height:25%;
	position: relative;
}
.input_text .emoji {
	display: block;
	width:98%;
	height:60%;
	position: absolute;
	top: 0;
	left:1%;
	border:1px #999 solid;
	border-bottom:none;
	transition:top 0.8s;
}
.input_text .emoji .emoji_package {
	width:100%;
	height:100%;
	overflow-y: auto;
	background-color: #EFEFEE;
}
.input_text .emoji::before{
	content: '';
	position: absolute;
	width:0;
	height:0;
	left:50%;
	top:-21px;
	margin-left:-50px;
	border-left: 50px solid transparent;
    border-bottom: 20px solid #ccc;
    border-right: 50px solid transparent;
}
.input_text .emoji_active{
	top:-60%;
	transition:top 0.8s;
}
.emoji_package>span{
	display: inline-block;
	line-height: 25px;
	padding:5px 10px 5px 10px;
	cursor: pointer;
}
textarea {
	position: absolute;
	resize:none;
	width:96%;
	left:1%;
	padding:1%;
	height:60%;
	font-size: 18px;
	line-height: 20px;
	color:#34495E;
	border:1px #ccc solid;
}
button {
	position: absolute;
	background-color: #FFF;
	color:#999;
	border-radius: 3px;
	width:120px;
	border:1px #999 solid;
	outline: none;
	padding:10px 25px;
	right:20px;
	bottom:3%;
	cursor: pointer;
	font-weight: bold;
}
button::before{
	content: '按下Ctrl+Enter换行';
	cursor: default;
	color:#999;
	position: absolute;
	left:-130px;
	top:10px;
}
button:focus{outline: none;}